
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

img {
max-width: 100%;
}







.p1 {
    background-color: #23424A;
    color: #FFF;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}


.p1-1{
display: flex;
width: 80%;
margin:0 auto;
}


.p1-i1 {
margin: 5%;
}


.t1 { 
margin: 5%;
}

.p2 {
width: 100%;


}

.p2-1 {
display: flex;
width: 80%;
margin:0 auto;
}

.p2-1-2 {
padding: 3%;
margin: 2%;
background-color: fuchsia;
}







































































































































.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}